body {
    position: relative;
    height: 100vh;
}

.wrapper {
    height: calc(100vh - 184px);
}

.backKey {
    position: relative;
    background-color:#30011E;
    height: 64px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backKey h1 {
    height: 100%;
    width: 100%;
    color: #ffe2b4;
    text-align: center;
    font-size: 170%;
}

.bookSec {
    height: 100%;
    padding: 16px;
}

.bookSecFlex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bookItem {
    width: 100%;
    height: 100%;
}

.bookItem iframe {
    overflow: scroll;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #121212;
    box-shadow: 0 0 16px #121212;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.bottomSec .container .blank {
    display: none;
}

.bottomSec .container hr {
    margin: 0;
}
