body {
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    height: calc(100vh - 152px);
    display: flex;
}

#leftSide {
    height: calc(100% - 60px);
    padding: 30px;
    width: calc(70vw - 60px);
}

#leftSideH1 {
    font-size: 60px;
    height: 60px;
    margin-bottom: 30px;
}

#leftSideContainer {
    height: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.part h1 {
    font-size: 40px;
    font-style: italic;
    white-space: nowrap;
}

.part h2 {
    font-size: 25px;
    height: 100px;
}

#rightSide {
    height: calc(calc(100vh - 123px) - 30vw);
    padding: 20px;
    padding-left: 0;
    width: calc(30vw - 20px);
}

#rightSideH1 {
    font-size: 30px;
    height: 30px;
    margin-bottom: 15px;
}

#rightSideContainer {
    height: calc(100% - 90px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#rightSide .part h1 {
    font-size: 30px;
    font-style: italic;
    white-space: nowrap;
}

#rightSide .part h2 {
    font-size: 20px;
    height: 30px;
}

.backKey {
    position: relative;
    background-color:#30011E;
    height: 64px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backKey h1 {
    height: 100%;
    width: 100%;
    color: #ffe2b4;
    text-align: center;
    font-size: 170%;
}

.bookSec {
    height: 100%;
    padding: 16px;
}

.bookSecFlex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bookItem {
    width: 100%;
    height: 100%;
}

.bookItem iframe {
    overflow: scroll;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: #121212;
    box-shadow: 0 0 16px #121212;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 70vw;
    height: 88px;
}

.bottomSec .container .blank {
    display: none;
}

.bottomSec .container hr {
    margin: 0;
}

#childProof {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: yellow;
    border: red solid 10px;
    border-radius: 10px;
    padding: 30px;
}

#childProof * {
    white-space: nowrap;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: red;
    text-align: center;
}

#qrcode {
    width: 30vw;
}

#qrContainer {
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
}

#backdoor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: yellow;
    border: red solid 10px;
    border-radius: 10px;
    padding: 30px;
}

#backdoor .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#backdoor * {
    white-space: nowrap;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    color: red;
    text-align: center;
    resize: none;
}