@font-face {
    font-family: music;
    src: url(/files/fonts/FaithfulHand-K7eWW.ttf);
}

body {
    background-color: #ffe2b4;
}

* {
    margin: 0;
    padding: 0;
    font-family: music;
}


.key {
    position: relative;
    border-bottom: #1C2321 solid 1mm;
}

.key::after {
    content: " ";
    display: block;
    width: 50vw;
    height: 14vw;
    position: absolute;
    bottom: -7vw;
    right: 0mm;
    background-color: #141817;
    border-top-left-radius: 3mm;
    border-bottom-left-radius: 3mm;
    z-index: 2;
}
